/* src/Game.css */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.game-container {
  text-align: center;
}

.letters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.letter-container {
  width: 60px;
  height: 70px;
  background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}

.letter-container.special-letter {
  background-color: purple; /* Change background color to yellow for the special letter */
}

.word-container {
  margin-top: 20px;
  font-size: 18px;
}

.score-container {
  margin-top: 10px;
  font-size: 18px;
}

.guessed-words-container {
  margin-top: 20px;
  background-color: #f1c40f; /* Light yellow background color */
  padding: 10px;
  border-radius: 10px;
}

.button-container {
  margin-top: 20px;
}

button {
  font-size: 16px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
